  
{% extends "base.html" %}

{% load bootstrap4 %}

{% block title%}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 p-2 bg-primary text-white">{{ title }} - {{object.name}}</h2>
    
    <div class="mb-3">
        <a href="{% url 'event:event_detail' object.id %}" class="btn btn-primary">詳細に戻る</a>
    </div>
    
    <div class="mb-3">
    {% for chat in object_list %}
        <div class="mb-2 d-flex flex-row">
        {% if chat.user.id == user.id %}
            <div class="px-4 py-2 bg-success text-white">
        {% else %}
            <div class="px-4 py-2 bg-secondary text-white">
        {% endif %}
                <div>{{chat.user.username}}</div>
                <div>{{chat.body|linebreaksbr}}</div>
                <div>{{chat.created_at}}</div>
            </div>
        </div>
    {% endfor %}
    </div>
    
    <form action="{% url 'event:chat_talk' object.id %}" method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form layout='inline' %}
        <button type="submit" class="btn btn-primary">送信</button>
    </form>
</div>
{% endblock %}
